body{
    margin: 0px;
}

/* 中间的大色块 */
.lap {
    background-color: #eb9060;
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 25%;
}
/* 标题 */
.title {
    position: absolute;
    top: -18%;
    vertical-align: middle;
    text-align: center;
    text-shadow: #eb9060 1px 0 0, #eb9060 0 1px 0, #eb9060 -1px 0 0, #eb9060 0 -1px 0;
    color: white;
    font-size: 40px;
    z-index: 1;
}
/* canvas */
#cvs {
    position: absolute;
    top: 35%;
    left: 15%;
}
/* 提交button */
button {
    position: absolute;
    top: 57%;
    left: 15%;
    margin-top: 15px;
    background-color: white;
    border: 0px;
    width: 110px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: #b9693e 2px 0 0, #b9693e 0 2px 0;
    color: #eb9060;
}
/* 结果 */
.result {
    position: absolute;
    top: 59%;
    left: 33%;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
input {
    height: 20px;
}
/* loading */
.loading {
    background-image: url('loading.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    left: 70%;
    z-index: 999;
}
